h1 {
    text-align: center;
    background-color: blue;
    display: inline;
    margin-left: 625px;
    color: white;
}

nav li {
    display: block;
    padding: 10px;
    border:2px solid chocolate;
    text-align: center;
}

img {
    width: 300px;
    opacity: 0.8;
    margin-left: 625px;
}

p {

    display: block;
    border: 1px solid red;
    padding: 10px;
    background-color:lightblue;

    /* this is a comment  */
}

a{
    color: lightsalmon;
}
